svg(width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    rect(width="96" height="96" fill="url(#pattern0_41_104)")
    defs
        pattern(id="pattern0_41_104" patternContentUnits="objectBoundingBox" width="1" height="1")
            use(xlink:href="#image0_41_104" transform="scale(0.0104167)")
        image(id="image0_41_104" width="96" height="96" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAACXBIWXMAAAsTAAALEwEAmpwYAAABzElEQVR4nO3dMU5bURSE4WmctRC8QFrKSAlJkFcTsow4Cwmmc6Q/svQKRAExYM+5d84n/QvwGT9D96TWWmuttdZae7u1pG+StpIeJGHuOmXUD5I2kv4WODppIxyO/7PAoUkdYVPgwKSOsC76s0PKCN8LHJUj+6SJ/C74DSfpSdgVODqPOrhKehIoOEDUCFUHiBmh8gARI1QfYPoRRhhg6hFGGWDaEUYaYMoRRhtguhFGHGCqEUYdYJoRRh5gihFGH2D4EWYYYOgRZhlg2BFmGmDIEWYbYLgRZhzgmBHs3AfnhAf5nxHs3AfnxAd5aQQ798E5w0GeG8GO8OwIz47w7AjPjvDsCM+O8OwIz47w7AjPjvDsCM+O8OwIz47w7AjPjvDsCM+O8OwIz47w7AjPjvDsCM+O8OwIz47w7AjPjvDsCM+O8OwIz47w7AjPjvDsCM+O8OwIz47w7AjPjvDsCM+O8OwIz+6+wBEw9UcFbAscAlO/VMDXAofA1GcVcDnYa6x4p/aSLlTEbYGDcOYOT34ZK0l3BY7CmfqxfOZSVstL3fYFDsSJ2i/f/HLHf/o34Wb5D6HaO8Z4Rbvls3yR9NF93NZaa6211pqG9w/CrbLJTe4JFAAAAABJRU5ErkJggg==")

