<svg width="80" height="72" viewBox="0 0 80 72" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M40 52.8002C47.0692 52.8002 52.7999 47.0694 52.7999 40.0002C52.7999 32.9309 47.0692 27.2002 40 27.2002C32.9307 27.2002 27.2 32.9309 27.2 40.0002C27.2 47.0694 32.9307 52.8002 40 52.8002Z" fill="black"/>
<path d="M28 0L20.68 8H8C3.6 8 0 11.6 0 16V64C0 68.4 3.6 72 8 72H72C76.4 72 80 68.4 80 64V16C80 11.6 76.4 8 72 8H59.32L52 0H28ZM40 60C28.96 60 20 51.04 20 40C20 28.96 28.96 20 40 20C51.04 20 60 28.96 60 40C60 51.04 51.04 60 40 60Z" fill="black"/>
</svg>
